nav

    .nav-link
        color: #000000 !important

header
    width: 100vw
    height: 62vh
    background: url('/storage/images/header-bg.jpg') center center !important
    background-size: cover !important
    margin-bottom: 5vh

    h1,p
        color: white !important

    div
        padding: 25px !important

.profile-image
    width: 20vw
    height: auto

@media all and (max-width: 320px)
    h1
        font-size: 1.8em

@media all and (max-width: 900px)
    .profile-image
        width: 40vw

@media all and (max-width: 400px)
    .profile-image
        width: 60vw

